[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
llama-index-core = "*"
llama-index-embeddings-huggingface = "*"
llama-index-vector-stores-qdrant = "*"
llama-index-llms-openai = "*"
qdrant-client = "*"
datasets = "*"
sentence-transformers = "*"
torch = "*"

[requires]
python_version = "3.13"
